[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pymongo = "*"
mongoengine = "*"
Flask = "*"
Faker = "*"
pytest = "*"
pyjwt = "*"
dnspython = "*"
psycopg2 = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
